.Ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.Nav {
    color: var(--mainGray);
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
    font-size: 1.2rem;
}
.Nav:hover {
    color: var(--mainWhite);
    text-decoration: none;
}

.Star {
    font-size: 35px;
    color: aliceblue;
}
.Stare {
    color: red;
    font-size: 35px;
}    

.Icon {
    font-size: 1.8rem;
}

/**/

@media (max-width: 444px) {
    .Icon {
        font-size: 1.7rem;
        margin-right: -25px;
        margin-left: 15px;
        padding: 0;;
    }
}