.Form {
    position: relative;
    padding: 10px 15px;
    border: 1px solid var(--lightBlue);
    border-radius: 8px;
    background-color: var(--lightDark);
    width: 100%;
    margin-top: 50px;
}
.Form *{
    text-align: right;
}

.Form p  {
    color: var(--mainBlue);
    font-size: 1.1rem;
}

.Form input {
    color: var(--darkBlue) !important;
}

.Form button {
    background-color: var(--lightDark);
    color: var(--mainBlue);
    border: var(--mainBlue) 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.Form button:hover {
    background-color: var(--mainBlue);
    color: var(--mainWhite);
}
.Form button, .Form input{
    font-size: 1.1rem;
    font-weight: bold;
}

.TitleP {
    font-weight: bold;
    color: var(--mainBlue);
    text-align: center;
}

.X {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin: 0px 5px;
  }