.Container {
    width: 100%;
    height: 90px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    cursor: pointer;
    padding-right: 20px;
}

.Container:hover {
    background-color: #3f3d3d;
}

.Img {
    width: 30%;
    height: 100%;
    /* padding-bottom: 30px; */
}

.TitleContainer {
    width: 70%;
    height: 100%;
    text-align: right;
    padding: 10px 20px 0 0;
    border-bottom: 1px solid var(--lightBlue);
    margin-left: 30px;
}

.TitleContainer p {
    margin-bottom: 0;
}

.EpisodeTitle {
    font-size: 1rem;
    color: var(--mainWhite);
    padding: 0;
}

.SeriesTitle {
    font-size: 1rem;
    color: var(--mainGray);
}

.Playing {
    /* background-color: #3f3d3d; */
    font-weight: bold;
}

.Playing p {
    color: var(--mainBlue);
}

/***/

@media (max-width: 1079px) {
    .Img {
        width: 22%;
    }
    .TitleContainer {
        width: 78%;
    }
}

@media (max-width: 444px) {
    .Img {
        width: 35%;
        height: 100%;
    }
    .TitleContainer {
        padding: 10px;
    }
}