.Container {
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 0 0 50px;
    margin-top: 90px;
}
.VideoContainer {
    width: 65%;
}
.Video {
    width: 100%;
    max-height: 540px;
    background-color: #000000; 
}

.TitleContainer {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid var(--lightBlue);
    padding: 7px 20px 25px;
}
.TitleContainer p {
    margin-bottom: 0;

}
.EpisodeTitle {
    font-size: 1.3rem;
    color: var(--mainWhite);
    font-weight: bold;
    padding: 0;
}
.SeriesTitle {
    font-size: 1.03rem;
    color: var(--mainGray);
}
.SeriesInfo {
    font-size: 13px;
    color: #aaaaaa;
    font-weight: bold;
}

/***/
.List {
    width: 35%;
    border: 1px solid var(--lightBlue);
    background-color: var(--lightDark);
    padding: 50px 0;
}

@media (max-width: 1079px) {
    .Container {
        display: block;
        padding: 0;
    }
    .VideoContainer {
        width: 92%;
        display: block;
        margin: 0 auto;
        margin-top: 120px;
    }
    .List {
        width: 92%;
        margin: 0 auto;
    }
  }

  @media (max-width: 444px) {
    .VideoContainer {
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-top: 120px;
        max-height: 400px;
    }
    .List {
        width: 100%;
        margin: 0 auto;
    }
  }