:root{
  --darkBlue: #005bb6;
  --mainBlue: #00bfff;
  --lightBlue: #00bfff25;
  
  --mainWhite: #ffffff;

  --mainGray: #dbdbdb;
  --lightGray: #bebebe;

  --mainRed: #a52a2a;

  --mainDark: #222222;
  --transparentDark: #5c5c5cbe;
  --lightDark: #363333;
}
.App {
  background-color: var(--mainDark);
}
