.Container{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.Image {
  width: 100%;
  height: 100%;
}

.Overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-in-out all 0.5s;
  color: rgba(240, 248, 255, 0);
}
.Overlay:hover{
  background-color: var(--transparentDark);
  color: var(--mainWhite)
}

.X, .AddBtn {
  background-color: var(--mainBlue);
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.X, .Favorite {
  position: absolute;
  right: -10%;
  top: -10%;
}
.X:hover {
  background-color: var(--mainRed);
}

.Add {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
}

.Favorite {
  border: none;
  padding: 0;
  cursor: pointer;
}